/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
   background: none;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/

$color1: rgb(238, 239, 240);

body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.container {
   height: 100vh;
   max-width: 1024px;
   padding: 50px;
   margin: 0 auto;
}

.header {
   height: 85px;
   border-radius: 5px;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

   .header-logo__link{
      font-size: 20px;
      font-weight: 500;
      color: #cacaca;
      margin-left: 20px;
      }

   .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // Clock
   .header-clock {
      font-size: 24px;
      font-family: Verdana, Arial, Sans-serif;
      text-align: center;
      color: #cacaca;
      margin: 27px;
   }
   .header-clock ul {
      display: flex;
      margin: 0 auto;
      list-style: none;
   }
   .header-clock ul li {
      display: inline;
   }
   .header-clock ul li#separator {
      -moz-animation: myfade 1s ease infinite;
      -webkit-animation: myfade 1s ease infinite;
   }

   /* Animation */
   @-webkit-keyframes myfade {
      0% {
         opacity: 1;
      }
      50% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }

   @-moz-keyframes myfade {
      0% {
         opacity: 1;
      }
      50% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }
}

.main__list {
   margin-top: 24px;
   display: flex;
   justify-content: space-between;
   gap: 15px;

   .list__column {
      width: 300px;
      border: 1px solid #bfbbbb;
      border-radius: 5px;
      margin-bottom: 24px;

      .list__header {
         margin-bottom: 5px;
         display: flex;
         justify-content: space-between;
         background: rgba(73, 73, 74, 0.3);
         color: #cacaca;
                  font-size: 1.1em;
         padding: 8px 6px;
         border-radius: 5px 5px 0 0;
      }
      .list__cards {
         gap: 5px;
         height: 420px;
         display: flex;
         flex-direction: column;
         max-height: 420px;
         overflow: auto;
         &::-webkit-scrollbar {
            width: 0px;
         }
      }
      .list__footer {
         display: flex;
         justify-content: center;
         background: rgba(73, 73, 74, 0.3);
         padding: 8px 6px;
         border-radius: 0 0 5px 5px;
      }
      .list__button {
         width: 100%;
         height: 100%;
         color: #cacaca;
                  font-size: 1.1em;
      }
   }
}

.card {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   flex-direction: column;
   gap: 15px;
   background-color: rgba(255, 255, 255, 0.8);
   width: 100%;
   padding: 20px 10px;
   &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.8);
   }
   &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.8);
   }
   &-title {
      display: flex;
      justify-content: space-between;
      .card-title__title {
         font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
         font-size: 15px;
         font-weight: 600;
         line-height: 20px;
         color: #172b4d;
         padding-right: 10px;
      }
      .card-title__button {
         display: flex;
         flex-direction: column;
         gap: 10px;
         .card-title__edit-button {
            border: 3px solid #5fcc7a;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            width: 50px;
            height: 20px;
            box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 1px;
            color: #5fcc7a;
            transition: 0.15s ease-in-out;
            &:hover {
               box-shadow: 0 0 2px 0 #5fcc7a inset, 0 0 2px 0px #5fcc7a;
               color: #5fcc7a;
            }
         }
         .card-title__delete-button {
            border: 3px solid #ff8282;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            width: 50px;
            height: 20px;
            box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 9px;
            letter-spacing: 1px;
            color: #ff8282;
            transition: 0.15s ease-in-out;
            &:hover {
               box-shadow: 0 0 2px 0 #ff8282 inset, 0 0 2px 0px #ff8282;
               color: #ff8282;
            }
         }
         .card-title__back-button {
            border: 3px solid #5fcc7a;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            width: 50px;
            height: 20px;
            box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 1px;
            color: #5fcc7a;
            transition: 0.15s ease-in-out;
            &:hover {
               box-shadow: 0 0 2px 0 #5fcc7a inset, 0 0 2px 0px #5fcc7a;
               color: #5fcc7a;
            }
         }
      }
   }
   .card-description {
      display: flex;
      justify-content: space-between;
      &__description {
         font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
         font-size: 15px;
         font-weight: 400;
         line-height: 20px;
         color: #172b4d;
         width: 200px;
      }
      &__move-button {
         border: 3px solid #64a6fd;
         text-transform: uppercase;
         text-decoration: none;
         display: inline-block;
         width: 50px;
         height: 20px;
         box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
         font-family: "Montserrat", sans-serif;
         font-weight: bold;
         font-size: 12px;
         letter-spacing: 1px;
         color: #64a6fd;
         transition: 0.15s ease-in-out;
      }
      &__move-button:hover {
         box-shadow: 0 0 2px 0 #64a6fd inset, 0 0 2px 0px #64a6fd;
         color: #64a6fd;
      }
      .card-title__delete-button {
         text-transform: uppercase;
         text-align: center;
         max-height: 50px;
         border: 0;
         font-weight: 700;
         color: white;
         padding: 10px;
         background: rgb(190, 54, 65);
         box-shadow: 0 -3px rgb(190, 54, 65) inset;
         transition: 0.2s;
         &:hover {
            background: rgb(190, 54, 65);
         }
         &:active {
            background: rgb(129, 34, 28);
            box-shadow: 0 3px rgb(129, 34, 28) inset;
         }
      }
      .card-title__back-button {
         text-transform: uppercase;
         text-align: center;
         max-height: 50px;
         border: 0;
         font-weight: 700;
         color: white;
         padding: 10px;
         background: rgb(159, 76, 177);
         box-shadow: 0 -3px rgb(159, 76, 177) inset;
         transition: 0.2s;
         &:hover {
            background: rgb(159, 76, 177);
         }
         &:active {
            background: rgb(112, 48, 127);
            box-shadow: 0 3px rgb(112, 48, 127) inset;
         }
      }
   }
}

.card-user {
   display: flex;
   justify-content: space-between;
   font-weight: 500;
}

.popup,
.popup-edit {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.555);
   top: 0;
   left: 0;
   &__body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
   }
   &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: #f4e0e0f0;
      max-width: 800px;
      padding: 30px;
      .popup__title,
      .popup-edit__title {
         width: 50%;
         height: 30px;
         background-color: white;
      }
      .popup__description,
      .popup-edit__description {
         height: 100px;
         background-color: white;
      }
      .popup-button__container,
      .popup-edit-button__container {
         display: flex;
         justify-content: space-between;
         // .popup-button__select,
         // .popup-edit-button__select {
         //    text-transform: uppercase;
         //    border: 0;
         //    font-weight: 700;
         //    color: white;
         //    padding: 10px;
         //    border-radius: 3px;
         //    background: rgb(141, 218, 229);
         //    box-shadow: 0 -3px rgb(141, 218, 229) inset;
         //    transition: 0.2s;
         //    &:hover {
         //       background: rgb(141, 218, 229);
         //    }
         // }
         .popup-button,
         .popup-edit-button {
            margin-left: 10px;
            &__cancel {
               border: 3px solid #ff8282;
               text-transform: uppercase;
               text-decoration: none;
               display: inline-block;
               width: 50px;
               height: 20px;
               box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
               font-family: "Montserrat", sans-serif;
               font-weight: bold;
               font-size: 9px;
               letter-spacing: 1px;
               color: #ff8282;
               transition: 0.15s ease-in-out;
               &:hover {
                  box-shadow: 0 0 2px 0 #ff8282 inset, 0 0 2px 0px #ff8282;
                  color: #ff8282;
               }
            }
            .popup-button__confirm,
            .popup-edit-button__edit {
               border: 3px solid #5fcc7a;
               text-transform: uppercase;
               text-decoration: none;
               display: inline-block;
               width: 50px;
               height: 20px;
               box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
               font-family: "Montserrat", sans-serif;
               font-weight: bold;
               font-size: 9px;
               letter-spacing: 2px;
               color: #5fcc7a;
               transition: 0.15s ease-in-out;
               &:hover {
                  box-shadow: 0 0 2px 0 #5fcc7a inset, 0 0 2px 0px #5fcc7a;
                  color: #5fcc7a;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1024px) {
   .main__list {
      flex-wrap: wrap;
      .list__column {
         flex-grow: 1;
      }
   }
   .card {
      .card-title {
         .card-title__title {
            padding-right: 10px;
         }
      }
      .card-description {
         &__description {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
               Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
               sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            color: #172b4d;
            width: 270px;
            padding-right: 10px;
         }
      }
   }
}

@media screen and (max-width: 820px) {
   .popup,
   .popup-edit {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.555);
      top: 0;
      left: 0;
      &__body {
         min-height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 30px 10px;
      }
      &__content {
         position: relative;
         display: flex;
         flex-direction: column;
         gap: 20px;
         background: #b7d1d8;
         max-width: 600px;
         padding: 30px;
         .popup__title,
         .popup-edit__title {
            width: 50%;
            height: 30px;
            background-color: white;
         }
         .popup-button__container,
         .popup-edit-button__container {
            .popup-button__select,
            .popup-edit-button__select {
               font-weight: 600;
            }
            .popup-button,
            .popup-edit-button {
               &__cancel {
                  margin-left: 5px;
                  font-weight: 600;
                  font-size: 11px;
               }
               .popup-button__confirm,
               .popup-edit-button__edit {
                  font-weight: 600;
                  font-size: 11px;
               }
            }
         }
      }
   }
   .card {
      width: 100%;
      &-title {
         &__title {
            font-size: 18px;
         }

         .card-title__button {
            .card-title__edit-button {
               padding: 5px;
               font-weight: 600;
               font-size: 11px;
            }
            .card-title__delete-button {
               padding: 5px;
               font-weight: 600;
               font-size: 11px;
            }
            .card-title__back-button {
               font-weight: 600;
               font-size: 11px;
            }
         }
      }
      .card-description {
         &__description {
            font-size: 13px;
            line-height: 17px;
         }
         .card-description__move-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 11px;
            padding: 10.5px;
         }
         &__move-button {
            font-weight: 600;
            font-size: 11px;
         }
      }
      .card-user {
         display: flex;
         justify-content: space-between;
         font-size: 15px;
      }
   }
}

@media screen and (max-width: 768px) {
   .card {
      width: 100%;
      &-title {
         &__title {
            font-size: 17px;
         }
         &__button {
            .card-title__edit-button {
               padding: 5px;
               font-weight: 600;
               font-size: 11px;
            }
            .card-title__delete-button {
               padding: 5px;
               font-weight: 600;
               font-size: 11px;
            }
         }
      }
      &-description {
         &__description {
            font-size: 13px;
            line-height: 17px;
         }
         &__move-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 11px;
         }
      }
      &-user {
         display: flex;
         justify-content: space-between;
         font-size: 15px;
      }
   }
   .popup,
   .popup-edit {
      &__content {
         gap: 10px;
         max-width: 360px;
         padding: 20px;
         .popup-button__container,
         .popup-edit-button__container {
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: space-between;
            .popup-button__select,
            .popup-edit-button__select {
               font-weight: 700;
               font-size: 15px;
            }
            .popup-button,
            .popup-edit-button {
               margin-left: 145px;
               display: flex;
               justify-content: space-between;
               &__cancel {
                  font-size: 11px;
               }
               &__confirm {
                  font-size: 11px;
               }
            }
         }
      }
   }
}
@media screen and (max-width: 376px) {
   .main__list {
      .list__column {
         width: 275px;
      }
   }
   .card {
      width: auto;
      &-title {
         &__title {
            font-size: 17px;
         }
         &__button {
            .card-title__edit-button {
               padding: 5px;
               font-weight: 600;
               font-size: 11px;
            }
            .card-title__delete-button {
               padding: 5px;
               font-weight: 600;
               font-size: 11px;
            }
         }
      }
      &-description {
         &__description {
            font-size: 13px;
            line-height: 17px;
         }
         &__move-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 11px;
            padding: 10.5px;
         }
      }
      &-user {
         display: flex;
         justify-content: space-between;
         font-size: 15px;
      }
   }
}
@media screen and (max-width: 370px) {
   .popup,
   .popup-edit {
      &__content {
         gap: 5px;
         max-width: 300px;
         padding: 5px;
         .popup-button__container,
         .popup-edit__container {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: space-between;
            .popup-button__select,
            .popup-edit-button__select {
               font-weight: 700;
               font-size: 11px;
            }
            .popup-button,
            .popup-edit-button {
               display: flex;
               justify-content: space-between;
               &__cancel {
                  font-size: 11px;
               }
               &__confirm {
                  font-size: 11px;
               }
            }
         }
      }
   }
}
